In [26]:
import pandas as pd
import MySQLdb
import sqlalchemy
from datetime import datetime

In [27]:
dados_jogadores = pd.read_csv ('dados_jogadores.csv', sep= ';', encoding= 'utf-8')

In [28]:
dados_jogadores.head(10)

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
5,Jogador 6,Masculino,04/11/1977,Xadrez,Brasil,88.0,0.0,88.0
6,Jogador 7,Masculino,11/11/1986,Xadrez,Argentina,53.0,24.0,77.0
7,Jogador 8,Feminino,18/03/1996,Jogo da velha,Brasil,35.0,27.0,62.0
8,Jogador 9,Masculino,14/01/1969,Dama,Paraguai,27.0,18.0,45.0
9,Jogador 10,Masculino,06/05/2004,Xadrez,Chile,4.0,1.0,5.0

In [29]:
dados_jogadores.rename(columns={'jogador': 'nome_jogador', 'num_vitorias': 'n_vitorias', 
                                'num_derrotas': 'n_derrotas'}, inplace=True)

In [30]:
dados_jogadores.head(10)

,nome_jogador,genero,data_nascimento,jogo,pais,n_vitorias,n_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
5,Jogador 6,Masculino,04/11/1977,Xadrez,Brasil,88.0,0.0,88.0
6,Jogador 7,Masculino,11/11/1986,Xadrez,Argentina,53.0,24.0,77.0
7,Jogador 8,Feminino,18/03/1996,Jogo da velha,Brasil,35.0,27.0,62.0
8,Jogador 9,Masculino,14/01/1969,Dama,Paraguai,27.0,18.0,45.0
9,Jogador 10,Masculino,06/05/2004,Xadrez,Chile,4.0,1.0,5.0

In [31]:
#valores ausentes em cada coluna
dados_jogadores.isna().sum()

nome_jogador       0
genero             0
data_nascimento    0
jogo               0
pais               0
n_vitorias         8
n_derrotas         5
total_partidas     8
dtype: int64

In [32]:
# quantas linhas e colunas
df_n_coluna = dados_jogadores.shape
print(f'Numero de linhas e colunas antes: {df_n_coluna}')

# exclui linhas com valores ausentes
dados_jogadores.dropna(subset=['n_vitorias', 'n_derrotas', 'total_partidas'], inplace=True) 

df_n_coluna = dados_jogadores.shape
print(f'Numero de linhas e colunas depois: {df_n_coluna}')

Numero de linhas e colunas antes: (499, 8)
Numero de linhas e colunas depois: (478, 8)

In [33]:
dados_jogadores

,nome_jogador,genero,data_nascimento,jogo,pais,n_vitorias,n_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,Dama,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,Jogo da velha,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,Jogo da velha,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,Jogo da velha,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,Dama,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
493,Jogador 494,Feminino,07/11/1977,Dama,Uruguai,31.0,11.0,42.0
494,Jogador 495,Feminino,03/06/1974,Dama,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,Dama,Chile,13.0,51.0,64.0
497,Jogador 498,Masculino,28/09/1958,Jogo da velha,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,Jogo da velha,Paraguai,1.0,86.0,87.0

In [34]:
# criando uma conexao
user = 'steven'
password = 'steven1333'
host = 'localhost'
database = 'desafio2'
conexao = f'mysql://{user}:{password}@{host}/{database}'
conexao

'mysql://steven:steven1333@localhost/desafio2'

In [35]:
# conectando
engine = sqlalchemy.create_engine(conexao)
conn = engine.connect()
print(f'conectado {conn}')

conectado <sqlalchemy.engine.base.Connection object at 0x000001B2C76B9040>

In [36]:
df_jogo = list(dados_jogadores.jogo.unique())
df_pais = list(dados_jogadores.pais.unique())

In [37]:
df_jogo

['Dama', 'Jogo da velha', 'Xadrez']

In [38]:
df_pais

['Chile', 'Brasil', 'Argentina', 'Uruguai', 'Paraguai']

In [16]:
for jogos in df_jogo:
    try:
        query = f"""insert into jogo (nome_jogo)
                    values ('{jogos}')"""
        conn.execute(query)
        print(f"registro inserido com sucesso: {jogos}")
    except Exception as e:
        print(f"não foi possivel inserir o regristo: {jogos}. o erro foi encontrado em: {e}")

registro inserido com sucesso: Dama
registro inserido com sucesso: Jogo da velha
registro inserido com sucesso: Xadrez

In [17]:
for paises in df_pais:
    try:
        query = f"""insert into pais (nome_pais)
                    values ('{paises}')"""
        conn.execute(query)
        print(f"registro inserido com sucesso: {paises}")
    except Exception as e:
        print(f"não foi possivel inserir o regristo: {paises}. o erro foi encontrado em: {e}")

registro inserido com sucesso: Chile
registro inserido com sucesso: Brasil
registro inserido com sucesso: Argentina
registro inserido com sucesso: Uruguai
registro inserido com sucesso: Paraguai

In [39]:
df_jogo = pd.read_sql('jogo', con=conn)

In [40]:
df_jogo

   cod_jogo      nome_jogo
0         1           Dama
1         2  Jogo da velha
2         3         Xadrez

In [41]:
df_pais = pd.read_sql('pais', con=conn)

In [42]:
df_pais

   cod_pais  nome_pais
0         1      Chile
1         2     Brasil
2         3  Argentina
3         4    Uruguai
4         5   Paraguai

In [43]:
dict_jogo = df_jogo.set_index(df_jogo.nome_jogo)['cod_jogo'].to_dict()
dict_jogo

{'Dama': 1, 'Jogo da velha': 2, 'Xadrez': 3}

In [44]:
dict_pais= df_pais.set_index(df_pais.nome_pais)['cod_pais'].to_dict()
dict_pais

{'Chile': 1, 'Brasil': 2, 'Argentina': 3, 'Uruguai': 4, 'Paraguai': 5}

In [45]:
dados_jogadores.jogo = dados_jogadores.jogo.map(dict_jogo)

In [46]:
dados_jogadores

,nome_jogador,genero,data_nascimento,jogo,pais,n_vitorias,n_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,1,Chile,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,2,Chile,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,2,Brasil,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,2,Argentina,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,1,Uruguai,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
493,Jogador 494,Feminino,07/11/1977,1,Uruguai,31.0,11.0,42.0
494,Jogador 495,Feminino,03/06/1974,1,Chile,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,1,Chile,13.0,51.0,64.0
497,Jogador 498,Masculino,28/09/1958,2,Chile,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,2,Paraguai,1.0,86.0,87.0

In [47]:
dados_jogadores.pais = dados_jogadores.pais.map(dict_pais)

In [48]:
dados_jogadores

,nome_jogador,genero,data_nascimento,jogo,pais,n_vitorias,n_derrotas,total_partidas
0,jogador 1,Masculino,03/09/1990,1,1,14.0,0.0,14.0
1,Jogador 2,Feminino,01/05/1986,2,1,39.0,20.0,59.0
2,Jogador 3,Masculino,04/10/1964,2,2,26.0,3.0,29.0
3,Jogador 4,Masculino,28/09/1979,2,3,9.0,72.0,81.0
4,Jogador 5,Masculino,03/09/1978,1,4,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
493,Jogador 494,Feminino,07/11/1977,1,4,31.0,11.0,42.0
494,Jogador 495,Feminino,03/06/1974,1,1,52.0,28.0,80.0
495,Jogador 496,Masculino,09/02/1959,1,1,13.0,51.0,64.0
497,Jogador 498,Masculino,28/09/1958,2,1,5.0,3.0,8.0
498,Jogador 499,Feminino,08/10/2004,2,5,1.0,86.0,87.0

In [29]:
for jogadores in dados_jogadores[:5].itertuples():
    print(jogadores)

Pandas(Index=0, nome_jogador='jogador 1', genero='Masculino', data_nascimento='03/09/1990', jogo=1, pais=1, n_vitorias=14.0, n_derrotas=0.0, total_partidas=14.0)
Pandas(Index=1, nome_jogador='Jogador 2', genero='Feminino', data_nascimento='01/05/1986', jogo=2, pais=1, n_vitorias=39.0, n_derrotas=20.0, total_partidas=59.0)
Pandas(Index=2, nome_jogador='Jogador 3', genero='Masculino', data_nascimento='04/10/1964', jogo=2, pais=2, n_vitorias=26.0, n_derrotas=3.0, total_partidas=29.0)
Pandas(Index=3, nome_jogador='Jogador 4', genero='Masculino', data_nascimento='28/09/1979', jogo=2, pais=3, n_vitorias=9.0, n_derrotas=72.0, total_partidas=81.0)
Pandas(Index=4, nome_jogador='Jogador 5', genero='Masculino', data_nascimento='03/09/1978', jogo=1, pais=4, n_vitorias=1.0, n_derrotas=54.0, total_partidas=55.0)

In [42]:
for jogadores in dados_jogadores.itertuples():
    nome_jogador = jogadores.nome_jogador
    genero = jogadores.genero
    data_nascimento = jogadores.data_nascimento
    d_nascJ = datetime.strptime (data_nascimento,'%d/%m/%Y')
    data_nascimento = d_nascJ.strftime(format="%Y-%m-%d")
    cd_jogo = jogadores.jogo
    cd_pais = jogadores.pais
    cd_vitorias = jogadores.n_vitorias
    cd_derrotas = jogadores.n_derrotas
    total_partidas = jogadores.total_partidas
    
    try:
        query = f"""insert into jogador (nome_jogador, genero, data_nascimento, cod_jogo, 
        cod_pais, n_vitorias, n_derrotas, total_partidas)
                    values ('{nome_jogador}', '{genero}', '{data_nascimento}','{cd_jogo}', '{cd_pais}', '{cd_vitorias}',
                    '{cd_derrotas}', '{total_partidas}')"""
        conn.execute(query)
        print(f"registro inserido com sucesso: {nome_jogador}")
    except Exception as e:
        print(f"não foi possivel inserir o regristo: {nome_jogador}. o erro foi encontrado em: {e}")

registro inserido com sucesso: jogador 1
registro inserido com sucesso: Jogador 2
registro inserido com sucesso: Jogador 3
registro inserido com sucesso: Jogador 4
registro inserido com sucesso: Jogador 5
registro inserido com sucesso: Jogador 6
registro inserido com sucesso: Jogador 7
registro inserido com sucesso: Jogador 8
registro inserido com sucesso: Jogador 9
registro inserido com sucesso: Jogador 10
registro inserido com sucesso: Jogador 11
registro inserido com sucesso: Jogador 12
registro inserido com sucesso: Jogador 13
registro inserido com sucesso: Jogador 14
registro inserido com sucesso: Jogador 15
registro inserido com sucesso: Jogador 16
registro inserido com sucesso: Jogador 17
registro inserido com sucesso: Jogador 18
registro inserido com sucesso: Jogador 19
registro inserido com sucesso: Jogador 20
registro inserido com sucesso: Jogador 21
registro inserido com sucesso: Jogador 22
registro inserido com sucesso: Jogador 23
registro inserido com sucesso: Jogador 24
registro inserido com sucesso: Jogador 25
registro inserido com sucesso: Jogador 26
registro inserido com sucesso: Jogador 27
registro inserido com sucesso: Jogador 28
registro inserido com sucesso: Jogador 29
registro inserido com sucesso: Jogador 30
registro inserido com sucesso: Jogador 31
registro inserido com sucesso: Jogador 32
registro inserido com sucesso: Jogador 33
registro inserido com sucesso: Jogador 34
registro inserido com sucesso: Jogador 35
registro inserido com sucesso: Jogador 36
registro inserido com sucesso: Jogador 37
registro inserido com sucesso: Jogador 38
registro inserido com sucesso: Jogador 39
registro inserido com sucesso: Jogador 40
registro inserido com sucesso: Jogador 41
registro inserido com sucesso: Jogador 42
registro inserido com sucesso: Jogador 43
registro inserido com sucesso: Jogador 44
registro inserido com sucesso: Jogador 45
registro inserido com sucesso: Jogador 46
registro inserido com sucesso: Jogador 48
registro inserido com sucesso: Jogador 49
registro inserido com sucesso: Jogador 50
registro inserido com sucesso: Jogador 51
registro inserido com sucesso: Jogador 52
registro inserido com sucesso: Jogador 53
registro inserido com sucesso: Jogador 54
registro inserido com sucesso: Jogador 55
registro inserido com sucesso: Jogador 57
registro inserido com sucesso: Jogador 58
registro inserido com sucesso: Jogador 59
registro inserido com sucesso: Jogador 60
registro inserido com sucesso: Jogador 61
registro inserido com sucesso: Jogador 62
registro inserido com sucesso: Jogador 63
registro inserido com sucesso: Jogador 64
registro inserido com sucesso: Jogador 65
registro inserido com sucesso: Jogador 66
registro inserido com sucesso: Jogador 67
registro inserido com sucesso: Jogador 68
registro inserido com sucesso: Jogador 69
registro inserido com sucesso: Jogador 70
registro inserido com sucesso: Jogador 71
registro inserido com sucesso: Jogador 73
registro inserido com sucesso: Jogador 74
registro inserido com sucesso: Jogador 75
registro inserido com sucesso: Jogador 76
registro inserido com sucesso: Jogador 77
registro inserido com sucesso: Jogador 78
registro inserido com sucesso: Jogador 79
registro inserido com sucesso: Jogador 80
registro inserido com sucesso: Jogador 81
registro inserido com sucesso: Jogador 82
registro inserido com sucesso: Jogador 83
registro inserido com sucesso: Jogador 84
registro inserido com sucesso: Jogador 85
registro inserido com sucesso: Jogador 86
registro inserido com sucesso: Jogador 88
registro inserido com sucesso: Jogador 89
registro inserido com sucesso: Jogador 90
registro inserido com sucesso: Jogador 91
registro inserido com sucesso: Jogador 92
registro inserido com sucesso: Jogador 93
registro inserido com sucesso: Jogador 94
registro inserido com sucesso: Jogador 95
registro inserido com sucesso: Jogador 96
registro inserido com sucesso: Jogador 97
registro inserido com sucesso: Jogador 99
registro inserido com sucesso: Jogador 100
registro inserido com sucesso: Jogador 101
registro inserido com sucesso: Jogador 102
registro inserido com sucesso: Jogador 103
registro inserido com sucesso: Jogador 104
registro inserido com sucesso: Jogador 105
registro inserido com sucesso: Jogador 106
registro inserido com sucesso: Jogador 107
registro inserido com sucesso: Jogador 108
registro inserido com sucesso: Jogador 109
registro inserido com sucesso: Jogador 110
registro inserido com sucesso: Jogador 111
registro inserido com sucesso: Jogador 112
registro inserido com sucesso: Jogador 113
registro inserido com sucesso: Jogador 114
registro inserido com sucesso: Jogador 115
registro inserido com sucesso: Jogador 116
registro inserido com sucesso: Jogador 117
registro inserido com sucesso: Jogador 118
registro inserido com sucesso: Jogador 119
registro inserido com sucesso: Jogador 120
registro inserido com sucesso: Jogador 121
registro inserido com sucesso: Jogador 122
registro inserido com sucesso: Jogador 123
registro inserido com sucesso: Jogador 124
registro inserido com sucesso: Jogador 125
registro inserido com sucesso: Jogador 126
registro inserido com sucesso: Jogador 127
registro inserido com sucesso: Jogador 128
registro inserido com sucesso: Jogador 129
registro inserido com sucesso: Jogador 130
registro inserido com sucesso: Jogador 131
registro inserido com sucesso: Jogador 132
registro inserido com sucesso: Jogador 133
registro inserido com sucesso: Jogador 134
registro inserido com sucesso: Jogador 135
registro inserido com sucesso: Jogador 136
registro inserido com sucesso: Jogador 137
registro inserido com sucesso: Jogador 139
registro inserido com sucesso: Jogador 140
registro inserido com sucesso: Jogador 141
registro inserido com sucesso: Jogador 142
registro inserido com sucesso: Jogador 143
registro inserido com sucesso: Jogador 144
registro inserido com sucesso: Jogador 145
registro inserido com sucesso: Jogador 146
registro inserido com sucesso: Jogador 147
registro inserido com sucesso: Jogador 148
registro inserido com sucesso: Jogador 149
registro inserido com sucesso: Jogador 150
registro inserido com sucesso: Jogador 151
registro inserido com sucesso: Jogador 152
registro inserido com sucesso: Jogador 153
registro inserido com sucesso: Jogador 154
registro inserido com sucesso: Jogador 155
registro inserido com sucesso: Jogador 156
registro inserido com sucesso: Jogador 157
registro inserido com sucesso: Jogador 158
registro inserido com sucesso: Jogador 159
registro inserido com sucesso: Jogador 160
registro inserido com sucesso: Jogador 161
registro inserido com sucesso: Jogador 162
registro inserido com sucesso: Jogador 163
registro inserido com sucesso: Jogador 164
registro inserido com sucesso: Jogador 165
registro inserido com sucesso: Jogador 166
registro inserido com sucesso: Jogador 167
registro inserido com sucesso: Jogador 168
registro inserido com sucesso: Jogador 169
registro inserido com sucesso: Jogador 170
registro inserido com sucesso: Jogador 171
registro inserido com sucesso: Jogador 172
registro inserido com sucesso: Jogador 173
registro inserido com sucesso: Jogador 174
registro inserido com sucesso: Jogador 175
registro inserido com sucesso: Jogador 176
registro inserido com sucesso: Jogador 177
registro inserido com sucesso: Jogador 178
registro inserido com sucesso: Jogador 179
registro inserido com sucesso: Jogador 180
registro inserido com sucesso: Jogador 181
registro inserido com sucesso: Jogador 182
registro inserido com sucesso: Jogador 183
registro inserido com sucesso: Jogador 184
registro inserido com sucesso: Jogador 185
registro inserido com sucesso: Jogador 186
registro inserido com sucesso: Jogador 187
registro inserido com sucesso: Jogador 188
registro inserido com sucesso: Jogador 189
registro inserido com sucesso: Jogador 190
registro inserido com sucesso: Jogador 191
registro inserido com sucesso: Jogador 192
registro inserido com sucesso: Jogador 193
registro inserido com sucesso: Jogador 194
registro inserido com sucesso: Jogador 195
registro inserido com sucesso: Jogador 196
registro inserido com sucesso: Jogador 197
registro inserido com sucesso: Jogador 198
registro inserido com sucesso: Jogador 199
registro inserido com sucesso: Jogador 200
registro inserido com sucesso: Jogador 201
registro inserido com sucesso: Jogador 202
registro inserido com sucesso: Jogador 203
registro inserido com sucesso: Jogador 204
registro inserido com sucesso: Jogador 205
registro inserido com sucesso: Jogador 206
registro inserido com sucesso: Jogador 207
registro inserido com sucesso: Jogador 208
registro inserido com sucesso: Jogador 209
registro inserido com sucesso: Jogador 210
registro inserido com sucesso: Jogador 211
registro inserido com sucesso: Jogador 212
registro inserido com sucesso: Jogador 213
registro inserido com sucesso: Jogador 214
registro inserido com sucesso: Jogador 215
registro inserido com sucesso: Jogador 216
registro inserido com sucesso: Jogador 217
registro inserido com sucesso: Jogador 218
registro inserido com sucesso: Jogador 219
registro inserido com sucesso: Jogador 220
registro inserido com sucesso: Jogador 221
registro inserido com sucesso: Jogador 222
registro inserido com sucesso: Jogador 223
registro inserido com sucesso: Jogador 224
registro inserido com sucesso: Jogador 225
registro inserido com sucesso: Jogador 226
registro inserido com sucesso: Jogador 227
registro inserido com sucesso: Jogador 228
registro inserido com sucesso: Jogador 229
registro inserido com sucesso: Jogador 230
registro inserido com sucesso: Jogador 231
registro inserido com sucesso: Jogador 232
registro inserido com sucesso: Jogador 233
registro inserido com sucesso: Jogador 234
registro inserido com sucesso: Jogador 235

registro inserido com sucesso: Jogador 236
registro inserido com sucesso: Jogador 237
registro inserido com sucesso: Jogador 238
registro inserido com sucesso: Jogador 239
registro inserido com sucesso: Jogador 240
registro inserido com sucesso: Jogador 241
registro inserido com sucesso: Jogador 242
registro inserido com sucesso: Jogador 243
registro inserido com sucesso: Jogador 244
registro inserido com sucesso: Jogador 245
registro inserido com sucesso: Jogador 246
registro inserido com sucesso: Jogador 248
registro inserido com sucesso: Jogador 249
registro inserido com sucesso: Jogador 250
registro inserido com sucesso: Jogador 251
registro inserido com sucesso: Jogador 253
registro inserido com sucesso: Jogador 254
registro inserido com sucesso: Jogador 255
registro inserido com sucesso: Jogador 257
registro inserido com sucesso: Jogador 258
registro inserido com sucesso: Jogador 259
registro inserido com sucesso: Jogador 260
registro inserido com sucesso: Jogador 261
registro inserido com sucesso: Jogador 262
registro inserido com sucesso: Jogador 263
registro inserido com sucesso: Jogador 264
registro inserido com sucesso: Jogador 265
registro inserido com sucesso: Jogador 266
registro inserido com sucesso: Jogador 267
registro inserido com sucesso: Jogador 268
registro inserido com sucesso: Jogador 269
registro inserido com sucesso: Jogador 270
registro inserido com sucesso: Jogador 271
registro inserido com sucesso: Jogador 272
registro inserido com sucesso: Jogador 273
registro inserido com sucesso: Jogador 274
registro inserido com sucesso: Jogador 275
registro inserido com sucesso: Jogador 276
registro inserido com sucesso: Jogador 277
registro inserido com sucesso: Jogador 278
registro inserido com sucesso: Jogador 279
registro inserido com sucesso: Jogador 280
registro inserido com sucesso: Jogador 281
registro inserido com sucesso: Jogador 282
registro inserido com sucesso: Jogador 283
registro inserido com sucesso: Jogador 284
registro inserido com sucesso: Jogador 285
registro inserido com sucesso: Jogador 286
registro inserido com sucesso: Jogador 287
registro inserido com sucesso: Jogador 289
registro inserido com sucesso: Jogador 290
registro inserido com sucesso: Jogador 291
registro inserido com sucesso: Jogador 292
registro inserido com sucesso: Jogador 293
registro inserido com sucesso: Jogador 294
registro inserido com sucesso: Jogador 295
registro inserido com sucesso: Jogador 296
registro inserido com sucesso: Jogador 297
registro inserido com sucesso: Jogador 298
registro inserido com sucesso: Jogador 299
registro inserido com sucesso: Jogador 300
registro inserido com sucesso: Jogador 301
registro inserido com sucesso: Jogador 302
registro inserido com sucesso: Jogador 303
registro inserido com sucesso: Jogador 304
registro inserido com sucesso: Jogador 305
registro inserido com sucesso: Jogador 306
registro inserido com sucesso: Jogador 307
registro inserido com sucesso: Jogador 308
registro inserido com sucesso: Jogador 309
registro inserido com sucesso: Jogador 310
registro inserido com sucesso: Jogador 311
registro inserido com sucesso: Jogador 312
registro inserido com sucesso: Jogador 313
registro inserido com sucesso: Jogador 314
registro inserido com sucesso: Jogador 315
registro inserido com sucesso: Jogador 316
registro inserido com sucesso: Jogador 317
registro inserido com sucesso: Jogador 318
registro inserido com sucesso: Jogador 319
registro inserido com sucesso: Jogador 320
registro inserido com sucesso: Jogador 321
registro inserido com sucesso: Jogador 322
registro inserido com sucesso: Jogador 323
registro inserido com sucesso: Jogador 325
registro inserido com sucesso: Jogador 326
registro inserido com sucesso: Jogador 327
registro inserido com sucesso: Jogador 328
registro inserido com sucesso: Jogador 329
registro inserido com sucesso: Jogador 330
registro inserido com sucesso: Jogador 331
registro inserido com sucesso: Jogador 332
registro inserido com sucesso: Jogador 333
registro inserido com sucesso: Jogador 334
registro inserido com sucesso: Jogador 335
registro inserido com sucesso: Jogador 336
registro inserido com sucesso: Jogador 338
registro inserido com sucesso: Jogador 339
registro inserido com sucesso: Jogador 340
registro inserido com sucesso: Jogador 341
registro inserido com sucesso: Jogador 342
registro inserido com sucesso: Jogador 343
registro inserido com sucesso: Jogador 344
registro inserido com sucesso: Jogador 345
registro inserido com sucesso: Jogador 346
registro inserido com sucesso: Jogador 347
registro inserido com sucesso: Jogador 348
registro inserido com sucesso: Jogador 349
registro inserido com sucesso: Jogador 350
registro inserido com sucesso: Jogador 351
registro inserido com sucesso: Jogador 352
registro inserido com sucesso: Jogador 353
registro inserido com sucesso: Jogador 354
registro inserido com sucesso: Jogador 355
registro inserido com sucesso: Jogador 356
registro inserido com sucesso: Jogador 357
registro inserido com sucesso: Jogador 358
registro inserido com sucesso: Jogador 359
registro inserido com sucesso: Jogador 360
registro inserido com sucesso: Jogador 361
registro inserido com sucesso: Jogador 362
registro inserido com sucesso: Jogador 363
registro inserido com sucesso: Jogador 364
registro inserido com sucesso: Jogador 365
registro inserido com sucesso: Jogador 366
registro inserido com sucesso: Jogador 367
registro inserido com sucesso: Jogador 368
registro inserido com sucesso: Jogador 369
registro inserido com sucesso: Jogador 370
registro inserido com sucesso: Jogador 371
registro inserido com sucesso: Jogador 372
registro inserido com sucesso: Jogador 374
registro inserido com sucesso: Jogador 375
registro inserido com sucesso: Jogador 376
registro inserido com sucesso: Jogador 377
registro inserido com sucesso: Jogador 378
registro inserido com sucesso: Jogador 379
registro inserido com sucesso: Jogador 380
registro inserido com sucesso: Jogador 381
registro inserido com sucesso: Jogador 382
registro inserido com sucesso: Jogador 383
registro inserido com sucesso: Jogador 384
registro inserido com sucesso: Jogador 385
registro inserido com sucesso: Jogador 386
registro inserido com sucesso: Jogador 387
registro inserido com sucesso: Jogador 388
registro inserido com sucesso: Jogador 389
registro inserido com sucesso: Jogador 390
registro inserido com sucesso: Jogador 391
registro inserido com sucesso: Jogador 392
registro inserido com sucesso: Jogador 393
registro inserido com sucesso: Jogador 394
registro inserido com sucesso: Jogador 395
registro inserido com sucesso: Jogador 396
registro inserido com sucesso: Jogador 397
registro inserido com sucesso: Jogador 398
registro inserido com sucesso: Jogador 399
registro inserido com sucesso: Jogador 400
registro inserido com sucesso: Jogador 401
registro inserido com sucesso: Jogador 402
registro inserido com sucesso: Jogador 403
registro inserido com sucesso: Jogador 404
registro inserido com sucesso: Jogador 405
registro inserido com sucesso: Jogador 406
registro inserido com sucesso: Jogador 407
registro inserido com sucesso: Jogador 409
registro inserido com sucesso: Jogador 410
registro inserido com sucesso: Jogador 411
registro inserido com sucesso: Jogador 412
registro inserido com sucesso: Jogador 413
registro inserido com sucesso: Jogador 414
registro inserido com sucesso: Jogador 415
registro inserido com sucesso: Jogador 416
registro inserido com sucesso: Jogador 417
registro inserido com sucesso: Jogador 418
registro inserido com sucesso: Jogador 419
registro inserido com sucesso: Jogador 420
registro inserido com sucesso: Jogador 421
registro inserido com sucesso: Jogador 422
registro inserido com sucesso: Jogador 423
registro inserido com sucesso: Jogador 425
registro inserido com sucesso: Jogador 426
registro inserido com sucesso: Jogador 427
registro inserido com sucesso: Jogador 428
registro inserido com sucesso: Jogador 429
registro inserido com sucesso: Jogador 430
registro inserido com sucesso: Jogador 431
registro inserido com sucesso: Jogador 432
registro inserido com sucesso: Jogador 433
registro inserido com sucesso: Jogador 434
registro inserido com sucesso: Jogador 435
registro inserido com sucesso: Jogador 436
registro inserido com sucesso: Jogador 437
registro inserido com sucesso: Jogador 438
registro inserido com sucesso: Jogador 439
registro inserido com sucesso: Jogador 440
registro inserido com sucesso: Jogador 441

registro inserido com sucesso: Jogador 442
registro inserido com sucesso: Jogador 443
registro inserido com sucesso: Jogador 444
registro inserido com sucesso: Jogador 445
registro inserido com sucesso: Jogador 446
registro inserido com sucesso: Jogador 447
registro inserido com sucesso: Jogador 448
registro inserido com sucesso: Jogador 449
registro inserido com sucesso: Jogador 450
registro inserido com sucesso: Jogador 451
registro inserido com sucesso: Jogador 452
registro inserido com sucesso: Jogador 453
registro inserido com sucesso: Jogador 455
registro inserido com sucesso: Jogador 456
registro inserido com sucesso: Jogador 457
registro inserido com sucesso: Jogador 458
registro inserido com sucesso: Jogador 460
registro inserido com sucesso: Jogador 461
registro inserido com sucesso: Jogador 462
registro inserido com sucesso: Jogador 463
registro inserido com sucesso: Jogador 464
registro inserido com sucesso: Jogador 465
registro inserido com sucesso: Jogador 466
registro inserido com sucesso: Jogador 467
registro inserido com sucesso: Jogador 468
registro inserido com sucesso: Jogador 469
registro inserido com sucesso: Jogador 470
registro inserido com sucesso: Jogador 471
registro inserido com sucesso: Jogador 472
registro inserido com sucesso: Jogador 473
registro inserido com sucesso: Jogador 475
registro inserido com sucesso: Jogador 476
registro inserido com sucesso: Jogador 477
registro inserido com sucesso: Jogador 478
registro inserido com sucesso: Jogador 479
registro inserido com sucesso: Jogador 480
registro inserido com sucesso: Jogador 481
registro inserido com sucesso: Jogador 482
registro inserido com sucesso: Jogador 483
registro inserido com sucesso: Jogador 484
registro inserido com sucesso: Jogador 485
registro inserido com sucesso: Jogador 486
registro inserido com sucesso: Jogador 487
registro inserido com sucesso: Jogador 488
registro inserido com sucesso: Jogador 489
registro inserido com sucesso: Jogador 490
registro inserido com sucesso: Jogador 492
registro inserido com sucesso: Jogador 494
registro inserido com sucesso: Jogador 495
registro inserido com sucesso: Jogador 496
registro inserido com sucesso: Jogador 498
registro inserido com sucesso: Jogador 499

In [63]:
df_2 = dados_jogadores.groupby(['pais', 'n_vitorias'])

In [66]:
df_2.min()

                nome_jogador     genero data_nascimento  jogo  n_derrotas  \
pais n_vitorias
1    1.0         Jogador 221   Feminino      05/04/1989     1         5.0
     2.0         Jogador 278   Feminino      25/04/1973     2         8.0
     3.0         Jogador 200   Feminino      10/09/2003     1         4.0
     4.0          Jogador 10   Feminino      06/05/2004     2         0.0
     5.0         Jogador 345   Feminino      15/09/1953     1         3.0
...                      ...        ...             ...   ...         ...
5    59.0        Jogador 264  Masculino      03/12/1961     1        19.0
     60.0        Jogador 365   Feminino      16/02/2004     1        18.0
     61.0        Jogador 467  Masculino      15/05/1965     3        16.0
     62.0        Jogador 263  Masculino      13/09/2004     1         1.0
     69.0        Jogador 232   Feminino      23/11/1995     3        26.0

                 total_partidas
pais n_vitorias
1    1.0                    6.0
     2.0                   10.0
     3.0                    7.0
     4.0                    4.0
     5.0                    8.0
...                         ...
5    59.0                  78.0
     60.0                  78.0
     61.0                  77.0
     62.0                  63.0
     69.0                  95.0

[236 rows x 6 columns]

In [81]:
df_jogo

   cod_jogo      nome_jogo
0         1           Dama
1         2  Jogo da velha
2         3         Xadrez

In [96]:
df_pais

   cod_pais  nome_pais
0         1      Chile
1         2     Brasil
2         3  Argentina
3         4    Uruguai
4         5   Paraguai